.popup-author__close-button {
    position: absolute;
    left: 435px;
    top: -37px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.png);
    background-color:rgba(0, 0, 0, 0);
    border: 0;
    background-size: cover;
    cursor: pointer;
    transition: opacity linear 0.5s;

}
.popup-author__close-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 900px){
    .popup-author__close-button {
        left: 250px;
        top: -43px;
        width: 22px;
        height: 22px;
    }

}
