.popup__line{
    opacity: 0.2;
    border: 1px solid #000000;
    width: 358px;
    margin: 13px auto 30px auto;
}

@media screen and (max-width: 900px){
    .popup__line{
        width: 238px;
    }

}
