.header__logo {
    width: 142px;
    height: 33px;
    background-image: url('../../../images/logo.svg');
    background-size: contain;
}

@media screen and (max-width: 900px){
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
    }

}
