.popup__close-button {
    position: absolute;
    left: 435px;
    top: -45px;
    width: 40px;
    height: 40px;
    background-image: url(/images/close_icon.png);
    background-color:rgba(0, 0, 0, 0.5);
    border: 0;
    background-size: cover;
    cursor: pointer;
}
.popup__close-button:hover{
    opacity: 0.6;
}
@media screen and (max-width: 900px){
    .popup__close-button {
        left: 256px;
        top: -40px;
        width: 26px;
        height: 26px;
    }
    
}
